<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT Warehouse</title>
    <link rel="icon" href="/site-images/icons/favicon.png" type="image/x-icon" >
    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="/css/animation.css">
</head>
<body class="body-height">
<nav class="navbar fixed-top navbar-light bg-light navbar-border-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="my_nav">
            <a class="link-underline-secondary navbar-brand mb-0 h1 text-center " href="/">Home</a>
            <a class="link-secondary navbar-brand mb-0 h1 text-center " href="/itemList">Items</a>
            <a class="link-secondary navbar-brand mb-0 h1 text-center" href="/posts">How To</a>
        </div>
        <div>
            <span class="navbar-text me-3 h6" th:text="${username}"></span>
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">


</div>
<script src="/javascript/bootstrap-bundle-min.js"></script>
</body>
</html>