body{
    background: #ececec;
}

.data_table{
    background: #fff;
    padding: 10px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.container-top-buttons{
    display: flex;
    justify-content: space-between;
}


.filter_table{}

