body{
    background: #ececec;
    padding-top: 50px;
}

.data_table{
    background: #fff;
    padding: 10px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.container-top-buttons{
    display: flex;
    justify-content: space-between;
}

.table-description-column{
    width: 100px;
    height: 80px;
}

.table-created-column{
    width: 85px;
}




