<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT Warehouse</title>
    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mycss.css">
</head>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
            <a class="link-primary navbar-brand mb-0 h1 text-center" href="/">Home</a>
            <a class="link-primary navbar-brand mb-0 h1 text-center" href="/itemList">Items</a>
        </div>
        <div>
            <span class="navbar-text me-3 h6" th:text="${username}"></span>
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center my-4">You are Welcome</h1>

    <a class="btn btn-primary" href="/itemList">Products</a>
</div>
<script src="/javascript/bootstrap-bundle-min.js"></script>
</body>
</html>